@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**
color palette:
- dark sage: #4f5743
- lighter sage: #6B7460
- off-white: #DCD1C3
- light brown: #B29784
- brown: #483c32

*/
.container-fluid,
.container,
.auth-container {
  font-family: Grenze, serif;
}
body {
  background-color: white;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.mainTitle {
  border-radius: 15px;
  padding: 20px;
  color: black;
  text-align: center;
}
/* Sidebar customizations */
.custom-sidebar {
  background-color: #4f5743;
}

.custom-sidebar .text-white {
  color: white !important;
}

.custom-sidebar a:hover {
  color: black !important;
  text-decoration: underline;
}

/* Custom tab highlight color */
.custom-sidebar .nav-item {
  width: 100%;
}

.custom-sidebar .nav-link {
  width: 100% !important;
  display: block !important;
  padding: 0.5rem 1rem !important;
}

.custom-sidebar .nav-link.active {
  background-color: #6b7460 !important;
  color: #000 !important;
  border-radius: 5px !important;
}

.custom-sidebar .nav-link:hover {
  background-color: #dcd1c3 !important;
  border-radius: 5px !important;
}
.card-header {
  background-color: #6b7460 !important;
  color: white !important;
}
.btn-dark {
  border-radius: 8px;
}
